/* global elements */

body{
	font: x-small sans-serif;
	background: #e9eaed;
	color: black;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#super_global_wrapper{
	width: 100%;
}

#global_wrapper{
	width: 850px;
	margin: 0px auto;
	padding: 0;
	overflow: auto;
	position: relative;
}

a:link{
	color: #000099;
	text-decoration: none;
}
a:visited {
    color: #000099;
}
.link{
	color: #000099;
	text-decoration: none;
}
.link:hover{
	text-decoration: underline;
	cursor: pointer;
}

.center{
	text-align: center;
}

.vertical_center_filler{
	vertical-align: middle; 
	display:inline-block; 
	height:50px; 
	margin:0;
}

h1{
	font-size: 16px;
	margin: 0;
	margin-bottom: 20px;
}

h1.page_title{
	margin: 10px;
	margin-bottom: 20px;
}

h2{
	font-size: 15px;
	margin: 0;
	margin-bottom: 10px;
	display: inline-block;
	font-weight: bold;
}
a.h2{
	font-size: 15px;
	margin: 0;
	margin-bottom: 10px;
	display: inline-block;
	font-weight: bold;
}

h3{
	font-size: 14px;
	margin: 0;
	margin-bottom: 12px;
}

textarea{
	overflow: hidden;
	font: 13px sans-serif;
	resize: none;
}

/* fixed floating related gizmos */

#haze {
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 0.5;
	background-color: #222;
	z-index: 1000;
	display: none;
}

.fixed_center{
	top:200px;
	left:50%;
	position: absolute;
	border: 1px solid #d9d9d9;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	z-index: 1001;
	background: white;
	padding: 5px;
	min-height: 100px;
	max-height: 600px;
	
	/* to be modified by inherited child */
	width: 200px;
	margin-left: -100px;
	margin-top: -100px;
}

/* search bar */

input.search{
	width: 200px;
	height: 24px;
	background-image: url(../images/search_large.png);
	background-repeat: no-repeat;
	background-position: 2px;
	padding-left: 24px;
	border: 1px solid #d9d9d9;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	box-sizing: border-box;
}
input#global_search.search{
	width: 578px;
	position: absolute;
	right: 70px;
	margin-top: 8px;
}

/* header */

#header{
	width: 100%;
	height: 40px;
	font-size: 14px;
	position: relative;
}

#header_logo{
	font: bold 20px Georgia;
	width: 192px;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	top: 10px;
	z-index: 800;
}

#header_options{
	font-size: 12px;
	position: absolute;
	right: 0;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	/*width: 18px;*/
	margin-right: 15px;
	/*background-image: url(../images/configure.png);*/
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
#header_options:hover{
	text-decoration: underline;
}

/* content body */

#content_wrapper{
	width: 100%;
	font-size: 13px;
	position: relative;
}

.content_column{
	float: left;
}

.content_column_wrapper{
	background-color: #fff;
}

/* content division */

#column_left.content_column {
	width: 192px;
}
#column_middle.content_column {
	width: 658px;
	left: 192px;
}

/* wrapper inside each content division */

#column_wrapper_left.content_column_wrapper {
	margin-top: 70px;
	background-color: transparent;
}
#column_wrapper_middle.content_column_wrapper {
	margin: 0 10px 0 0px;
	min-height: 500px;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	padding: 10px;
}

/* login screen only */

#logo{
	display:block;
	font: bold 20px Georgia;
	width: 100%;
	height: 78px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

#login_slogan{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 18px;

}

#column_login.content_column_wrapper {
	width: 300px;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	padding: 10px;
	margin: 0 auto;
	padding-bottom: 20px;
}

#google_signin{
	display: block;
	margin: 0 auto;
	width: 187px;
	height: 32px;
	background-image: url(../images/google_signin_base.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
#google_signin:hover{
	background-image: url(../images/google_signin_hover.png);
}

#facebook_signin{
	display: block;
	margin: 0 auto;
	width: 187px;
	height: 32px;
	background-image: url(../images/facebook_signin_base.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
#facebook_signin:hover{
	background-image: url(../images/facebook_signin_hover.png);
}

/* navigation menu */

#column_wrapper_left.content_column_wrapper ul{
	padding: 0;
	border-style: solid none solid solid;
	border-width: 1px;
	border-color: #ddd;
}
#column_wrapper_left.content_column_wrapper li{
	width: 100%;
	list-style-type: none;
}
#column_wrapper_left.content_column_wrapper li.button_middle{
	border-bottom: 1px solid #ccc;
}
#column_wrapper_left.content_column_wrapper li a{
	display: block;
	padding: 6px;
	padding-left: 30px;
	cursor: pointer;
	background-color: #ddd;
	background-repeat: no-repeat;
	background-position: 6px;
	color: #000;
	font-size: 14px;
}
#column_wrapper_left.content_column_wrapper li a.selected{
	background-color: #eee;
}
#column_wrapper_left.content_column_wrapper li a:hover{
	background-color: #eee;
}

#button_home{
	background-image: url(../images/home.png);
}
#button_community{
	background-image: url(../images/friends.png);
}
#button_list{
	background-image: url(../images/list.png);
	background-position: 8px;
}
#button_browse{
	background-image: url(../images/search_large.png);
}
#button_recent{
	background-image: url(../images/time.png);
}

/* profile info */

#profile_section{
	display:block;
	width: 100%;
	overflow: auto;
	margin-bottom: 5px;
}

#profile_pic{
	display: block;
	float: left;
	height: 100px;
	width: 100px;
	border: 5px double white;
	margin: 0;
	margin-bottom: 10px;
	background-color: gray;
}

.profile_name{
	display: block;
	margin-top: 20px;
	margin-left: 120px;
}

.user_info{
	color: #808080;
	display: block;
	margin-top: 5px;
	margin-left: 120px;
}

/* member's activity items */

/* must be inherited from .fixed_center */
div.popup_container{
	width: 600px;
	margin-left: -300px;
}

#no_activity_msg{
	text-align: center;
	margin-top: 30px;
}

.completed_activity{
	text-decoration: line-through;
}

ul.activity_list{
	padding:0;
	margin:0;
}
ul.activity_list li{
	position: relative;
	list-style-type: none;
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #d9d9d9;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
ul.activity_list li.activity_dud:hover{
	background-color: #F8F8F8;
}
ul.activity_list li.activity:hover{
	background-color: #F8F8F8;
	cursor: pointer;
}
ul.activity_list li.adding_activity{
	background-color: #E0ECF8;
	display: none;
	overflow: auto;
}

#modification_bar{
	overflow: auto;
	padding: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #d9d9d9;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
#modification_bar:hover{
	background-color: #E0ECF8;
}

.new_activity_input{
	width: 100%;
	display: block;
	margin-bottom: 5px;
	box-sizing: border-box;
	font: 13px sans-serif;
}
.new_activity_text{
	width: 100%;
	height: 3em;
	display: block;
	box-sizing: border-box;
}
input.new_activity_buttons{
	margin: 5px 0 0 5px;
	float: right:
}

.details{
	display: inline-block;
	height: 10px;
	width: 10px;
	background-image: url(../images/details.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 5px;
	top: 8px;
	cursor: pointer;
}

.details_box{
	position: absolute;
	border: 1px solid #aaa;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 150px;
	top: 20px;
	right: 4px;
	background-color: #ddd;
	display: none;
	z-index: 500;
}
.details_box_discussion{
	width: 170px;
	right: auto;
	left: 34px;
	top: 0;
}

.detail_box_item{
	display: block;
	padding-left: 25px;
	height: 21px;
	background-repeat: no-repeat;
	background-position: 5px 3px;
	cursor: pointer;
	font-size: 12px;
	line-height: 21px;
	text-align: left;
}
.detail_box_item:hover{
	background-color: white;
}
.delete{
	background-image: url(../images/trash.png);
}
.checked{
	background-image: url(../images/checked.png);
}
.edit{
	background-image: url(../images/edit.png);
}
.discussion{
	background-position: 3px 1px;
	background-image: url(../images/discussion.png);
}
.facebook{
	background-position: 3px 1px;
	background-image: url(../images/facebook.png);
}

.delete_confirmation{
	display:block;
	margin-bottom: 10px;
}

input.confirmation_button{
	margin: 0 5px 0 5px;
}

.category_info{
	display: inline-block;
	margin-left: 5px;
	font-size: 12px;
}

.datetime{
	display: block;
	color: #808080;
	font-size: 12px;
	margin-top: 5px;
	margin-right: 20px;
}

.post_body{
	margin-top: 15px;
}

/* detailed information on member activity */

.interest_info{
	background-color: #F8F8F8;
	margin: 10px -5px -5px -5px;
	border-top: 1px solid #e5e6e9;
}

.interested_friends_summary_container{
	position:relative;
}
.interested_friends_summary{
	display: none;
	bottom: 0;
	margin: 0 0 0 20px;
	position: absolute;
	min-width: 100px;
	padding: 0;
	border: 1px solid #aaa;
	background-color: #ddd;
	z-index: 500;
}
ul.interested_friends_summary li{
	padding: 5px;
	margin: 0;
	list-style-type: none;
	line-height: 8px;
	font-size: 12px;
	background-color: transparent;
	border: 0;
}
a.interested_friends_summary{
	line-height: 14px;
	margin-left: 0;
	bottom: auto;
	top: 0;
	min-width: 0;
	white-space: nowrap;
	padding-left: 2px;
	padding-right: 2px;
}

.expand{
	text-align: center;
	cursor: pointer;
	margin: 5px -5px -5px -5px;
	background-color: #F8F8F8;
	font-weight: bold;
}
.expand:hover{
	background-color: #F0F0F0;
}

.interest_tally_container{
	padding: 5px;
}
.interest_tally{
	display: inline-block;
	padding-left: 18px;
	height: 15px;
	background-repeat: no-repeat;
	font-size: 12px;
	line-height: 16px;
	background-image: url(../images/star.png);
	cursor: pointer;
}
.interest_tally:hover{
	text-decoration: underline;
}

.interest_details_container{
	margin-bottom: 10px;
	border-bottom: 1px solid #dfe0e4;
	padding: 7px;
}
ul.interest_details{
	margin: 0 auto;
	border: none;
	padding: 0;
	/*background-color: #E0ECF8;*/
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	position: relative;
}
ul.interest_details li{
	vertical-align: top;
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-bottom: 2px;
	padding: 0;
	border: none;
}


/* discussions tab */

.discussion_container{
	margin: 10px 0 10px 0;
	position: relative;
}

.discussion_main{
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
	margin-top: -1px;
	padding: 4px;
	background-color: #dfe3ee;
}

.discussion_tab_content{
	display: inline-block;
	margin: 4px;
	font-size: 13px;
}

.discussion_tab{
	display: inline-block;
	border: solid 1px #aaa;
	margin: 0;
	margin-left: 6px;
	height: 26px;
}
.discussion_tab:hover{
	cursor: pointer;
	background-color: #dfe3ee;
	border-bottom-color: #dfe3ee;
}
.discussion_tab_active{
	border-bottom-color: #dfe3ee;
	background-color: #dfe3ee;
}

.discussion_tab_internal{
	background-image: url(../images/discussion.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding-left: 20px;
}

.dicussion_tab_add{
	width: 26px;
	text-align: center;
}

.discussion_tab_new{
	background-color: #BBBBFF;
}
.discussion_tab_new:hover{
	background-color: #BBBBFF;
	border-bottom-color: #BBBBFF;
}

.message_container{
	height: 300px;
	overflow-y: scroll;
	margin-bottom: 10px;
	margin-top: 10px;
}

ul.message_list{
	padding: 0;
	
}
ul.message_list li{
	border-style: none;
	margin-bottom: 10px;
	margin-top: 10px;
}

.msg_title{
	background-color: #c4cde0;
	padding: 3px;
}

.msg_body{
	background-color: white;
	padding: 3px;
}

.msg_new{
	width: 100%;
	resize: none;
	box-sizing: border-box;
}

a.button_discussions{
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	margin-right: 10px;
	padding-left: 21px;
}
a.button_discussions:hover{
	text-decoration: underline;
}
a.button_participants{
	background-image: url(../images/participants.png);
}
a.button_leave{
	background-image: url(../images/exit.png);
}

/* note: this should be used in conjunction with .interested_friends_summary */
ul.participants{
	margin-left: 450px;
}

/* community */

.friend{
	float: left;
	width: 240px;
	height: 100px;
	border: 1px solid #d9d9d9;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin: 5px;
	cursor: pointer;
}
.friend:hover{
	background-color: #F0F0F0;
}

.friend_profile_pic{
	display: block;
	float: left;
	height: 100px;
	width: 100px;
	margin: 0;
	background-color: gray;
}

.friend_name{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 120px;
}

a.comm_link:link{
	color: #0000CC;
	text-decoration: none;
}
a.comm_link:visited {
    color: #0000CC;
}
a.comm_link:hover{
	color: #0066FF;
}

.onboard_leave_unavailable{
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;
	float: right;
}
.onboard_leave{
	display: inline-block;
	cursor: pointer;
	font-size: 12px;
	color: #000099;
	margin-left: 10px;
	float: right;
}
.onboard_leave:hover{
	text-decoration: underline;
}

/* news feed page */

.feed_page_block{
	min-height:50px;
	cursor: pointer;
}
.feed_page_block:hover{
	background-color: #F0F0F0;
}

.feed_page_block_body{
	display: inline-block;
	margin-top: 2px;
	margin-left: 8px;
	white-space: normal;
}

/* news feed */

#bottom_margin{
	display: block;
	height: 100px;
}

#feed_wrapper{
	position: fixed;
	bottom: 0;
	width: 100%;
}

#feed_content{
	margin: 0 auto;
	border: 1px solid;
	border-color: #ccc;
	padding: 2px;
	background-color: #E0ECF8;
	overflow-x: auto;
	overflow-y: hidden;
	width: 100%;
	z-index: 800;
	position: relative;
	min-height: 80px;
	white-space: nowrap;
}

.feed_block{
	vertical-align: top;
	display: inline-block;
	border-right: 1px solid #ccc;
	padding: 5px;
	height: 70px;
	max-width: 250px;
	cursor: pointer;
}
.feed_block:hover{
	background-color: #F0F0F0;
}

.feed_profile_pic{
	display: block;
	float: left;
	height: 50px;
	width: 50px;
	margin: 0;
	background-color: gray;
	position: relative;
}

.feed_block_body{
	display: inline-block;
	margin-left: 5px;
	width: 180px;
	white-space: normal;
}

.feed_title{
	display: block;
	font-size: 13px;
}

.feed_datetime{
	display: block;
	color: #808080;
	font-size: 12px;
	margin-top: 5px;
}

/* browse and search results */

.results_container{
	margin-top: 20px;
	margin-bottom: 20px;
}
.results_left_container{
	box-sizing: border-box;
	width: 50%;
}
.results_right_container{
	box-sizing: border-box;
	width: 50%;
	float:right;
}

.results_content{
	padding: 5px;
	border: 1px solid #d9d9d9;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
#results_friends.results_content{
	margin-left: 5px;
}
#results_activities.results_content{
	margin-right: 5px;
}

a.search_result_body{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 210px;
}

/* footer */

#footer_login{
	margin: 10px auto 30px auto;
	width: 300px;
	overflow: auto;
	text-align: center;
	font-size: 11px;
}

#footer{
	margin: 10px 10px 30px 0;
	overflow: auto;
	text-align: center;
	font-size: 11px;
}	
.footer_block{
	margin: 0 10px 0 10px;
	vertical-align: middle;
	float: right;
}
