# Use PHPcur as default
AddHandler application/x-httpd-phpcur .php
<IfModule mod_suphp.c>
    suPHP_ConfigPath /opt/phpcur/lib
</IfModule>

# Prevent directory browsing
Options -Indexes
DirectoryIndex viewReroute.php

# Use symlinks
Options +FollowSymLinks

# Rewrite rules to follow
RewriteEngine On

# Force https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteBase /

# ajax requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^public_html/ajax.*$ ajaxReroute.php [L]

# All other view requests
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !^public_html/ajax.*$ viewReroute.php [L]


