<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="index" patternSyntax="ECMAScript">
                    <match url="^.*\.(css|gif|png|jpg|jpeg|js)$" negate="true" />
                    <action type="Rewrite" url="index.php/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
