<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <rule name="ajax">
                    <match url="^ajax.*$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="ajaxReroute.php/" />
                </rule>
                <rule name="index" patternSyntax="ECMAScript">
                    <match url="^(ajax.*)|(.*\.(css|gif|png|jpg|jpeg|js|ico))$" ignoreCase="false" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="viewReroute.php/" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
